@import "../../variables";

.chart-flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: $dim_min_width;
    height: 100%;
}

.mobile-title {
    display: none;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: $color_light_text;
    text-align: center;
}

.desktop-title {
    display: block;
}

.main-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: $dim_min_width;
    height: $dim_min_height_chart;
    margin-right: $dim_gap;
    border-radius: 25px;
    background-color: $color_box;
    flex: 6;
}

.side-charts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: $dim_min_height_chart;
    flex: 3;

    > .chart-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: $dim_min_height;
        margin-bottom: $dim_gap;
        border-radius: 15px;
        background-color: $color_box;
        flex: 2;

        > .chart-top-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            min-height: 100px;
        }
    }

    > .chart-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: $dim_min_height;
        border-radius: 15px;
        background-color: $color_box;
        flex: 1;

        > .content {
            align-items: center;
        }
    }
}

.content {
    width: 80%;
}

@media (max-width: $bp_mobile) {
    .mobile-title {
        display: block;
    }

    .desktop-title {
        display: none;
    }

    .chart-flex-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .main-chart {
        width: 100%;
        margin-right: 0px;
        margin-bottom: $dim_gap;
        height: $dim_min_height_chart_mobile;
    }
    .side-charts {
        width: 100%;
        min-width: $dim_min_width;
    }

    .chart-top-content {
        flex-direction: column !important;
    }
    .icon {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: $bp_tablet) and (min-width: $bp_mobile) {
    .title {
        font-size: 20px;
    }

    .chart-top-content {
        > .content {
            align-items: center;
            margin-right: 10px;
        }
    }
}
