@import "../../variables";

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: $dim_min_width;
    min-height: $dim_min_height_top_card;
    border-radius: 15px;
    background-color: $color_box;
    flex: 1;
    width: 100%;
}

.card:not(:last-child) {
    margin-right: $dim_gap;
}

@media (max-width: $bp_tablet) {
    .card-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .card:not(:last-child) {
        margin-right: 0px;
        margin-bottom: $dim_gap;
    }
}

@media (max-width: $bp_desktop) and (min-width: $bp_tablet) {
    .card {
        margin: 5px;
    }
}
