@import "../../variables";



.flex-box {
	display:flex; 
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 1920px;
}

.heading {
    flex: 2;
}
.info-cards {
    flex: 2;
}
.analytics {
    flex: 8;
}
.pending {
    flex: 3;
}
