@import "../../variables";

.flex-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1920px;
    gap: 10px;
}

.info-cards {
    flex: 0.75;
}
.analytics {
    flex: 4;
}
.pending {
    flex: 2;
}

@media (max-width: $bp_mobile) {
    .flex-box {
        align-items: center;
    }
}
