@import "../../variables";

.flex-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1920px;
    gap: 10px;
}

.heading {
    width: 100%;
}

.info-cards {
    width: 100%;
    flex: 0.75;
}
.analytics {
    width: 100%;
    flex: 4;
}
.news {
    width: 100%;
    flex: 2;
}
