@import "../../variables";

.heading-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: $dim_min_width;
    min-height: $dim_min_height_heading;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-item {
    margin-left: 50px;
    fill: #7275aa;
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: $bp_mobile) {
    .heading-flex-box {
        justify-content: center;
    }
}
