
$color_dark_bg: #202344;
$color_light_bg: #25274D;
$color_box: #2D315E;
$color_light_text: #7275AA;
$color_blue: #4676FE;
$color_light_blue: #06CBFF;
$color_teal: #0E9BC8;
$color_light_orange: #FB8056;
$color_purple: #7C43DE;
